<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results for: {{ game }}</title>
    <link href="{{ url_for('static', filename='styles/results_style.css')}}" rel="stylesheet" />
</head>

<body>
    <h1>Search results for: {{ game }}</h1>
    
    {% for game in games %}
    <div class="result-row">
        
        <div class="left">
            <img src="{{ game.image }}" class="game-img">
            <p>{{ game.name }} <br> Released: {{ game.released }} <br> Rating: {{ game.rating }}</p>
        </div>
        
        <form class="form-inline">
            <input type="hidden" name="title" value="{{ game.name }}">
            <input type="hidden" name="image_url" value="{{ game.image }}">
            <input type="hidden" name="released" value="{{ game.released }}">
            <input type="hidden" name="rating" value="{{ game.rating }}">

            <div class="right">
             <button type="submit" class="favorite-btn">Favorite</button>
            </div>
        </form>
    
    </div>
    {% endfor %}
    
    <!--
    {% for game in games %}
    <div style="display: flex; align-items: center; margin-bottom: 20px;">
    <img src="{{ game.image }}" alt="Game Image" width="200" left="0" style="margin-right: 20px;">
    <p style="margin: 0;">{{ game.name }} - Released: {{ game.released }} - Rating: {{ game.rating }}</p>
    <button type="submit" style="margin-left: 20px;">Favorite</button>
    </div>
    {% endfor %}
    -->
    

    <form action="/index">
        <button type="submit">Back to Menu</button>
    </form>
    
  <!--  <script src="{{ url_for('static', filename='scripts/send_favorite.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/send_favorite.js') }}"></script>
</body>
</html>