<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Searcher</title>
    <link href="{{ url_for('static', filename='styles/index_style.css')}}" rel="stylesheet" />
</head>
    
<body>
    <h1>Video Game Searcher</h1>
    <form action="/game">
        <input type="text" name="game" id="game" placeholder="Enter a Game" />
        <button type="submit">Get Game</button>
    </form>
    <form action="/favorites_page">
        <button type="submit">View Favorites</button>
    </form>
</body>
</html>